<div class="row">
    <div class="col-xs-12">
        <div class="text-center">
            <h1>Weapon Store</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-5">
        <div class="wallet-section">
            <div class="row">
                <div class="col-xs-4">
                    <div class="wallet-header">
                        Wallet:
                    </div>
                </div>
                <div class="col-xs-8">
                    <wallet [wallet]="wallet"></wallet>
                </div>
            </div>
        </div>
        <div class="inventory-section">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <div class="inventory-header">
                            Inventory
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <inventory></inventory>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-offset-1 col-xs-6">
        <div class="row">
            <div class="col-xs-12">
                <store [items]="items" [storeType]="'Weapon'" (onItemSold)="itemSold($event)"></store>
            </div>
        </div>
    </div>
</div>