<div class="general-error-modal">
        <div class="ge-modal">
            <div class="ge-modal-container">
                <div class="ge-modal-content">
                    <div class="ge-modal-header">
                        <span class="header">{{header}}</span>
                        <button class="close-btn" (click)="close()">X</button>
                    </div>
                    <div class="ge-modal-body">
                        <p class="text">{{body}}</p>
                        <p class="glyphicon glyphicon-alert alert-sign">
                            <span class="lightnings"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>